<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/subject_page/subject_page.css">
    <link rel="stylesheet" href="/styles/without_plus_student/media_queries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/images/lanch_page/favicon.png"> 
</head>
<body>

    <!-- nab bar -->
    <div class="nav">
        <div class="logo"></div>
        <a href="<%= `/${dept}/${sub}/student/own_work`%>">
            <div class="go_back">
            <span class="text"><i class="ri-account-box-fill"></i>
                <h4>student</h4></span>
            </div>
        </a>
        
    </div>

<!-- main continer -->
<div class="gra_nav"></div>
    <div class="main_continer">

        <div class="unit_continer">
    
            <a href="<%=`${our_domain}${dept}`%>"><button class="go_back unit_box"><span class="text">Go back</span></button></a>

            <%for(let i = 0;i<5;i++){%>
            
               <li class="unit_box"><a href="<%=`/${dept}/${sub}/${i+1}`%>"><center> UNIT <%= i+1%></center></a></li>
                
                <%}%>
            
            
        </div>

        <!-- topic containing contoiner -->
        <div class="main_topic_continer">

            <!-- syllabus continer -->
            <div class="unit_syllabus">

                <div class="headline">
                    <h1> <span>Syllabus:</span></h1></div>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                    Inventore, laborum eveniet! Aliquam ut eaque amet consectetur,
                    vel atque vitae veritatis reiciendis aliquid, soluta suscipit.
                     Repudiandae iste ad velit aut Lorem ipsum dolor sit amet 
                     consectetur adipisicing elit. Eligendi rerum asperiores mollitia
                      eius molestiae illo doloremque repudiandae, earum, porro beatae 
                      consequuntur obcaecati totam ut veritatis impedit non eaque 
                       similique!</p>
                
                

            </div>

            <!-- card continer -->
            <div class="overlay">
                <div class="grad_div"></div>

                <div class="topic_card_continer">

                    <div class="headline"><h2> <span>Topics:</span></h2></div>
    
                    <div class="topics">
                        
                        <%if(locals.topics){%>
                            <%for(let i=0; i<topics.length;i++){%>
                           <a href="<%= `/${dept}/${sub}/${unit}/${topics[i]}/doc_res`%>"> 
                            <div class="topic_card">
                                <div class="content"><h2><%=topics[i]%></h2></div>
                            </div>
                            </a>
                            <%}}%>  
                      
                            
                        
                    </div>
    
    
                </div>
            </div>
           
        </div>

    

    </div>



    
    <script src="/js_files/without_plus_student/nav_bar.js"></script>
</body>
</html>