<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>space name</title>
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  <link rel="stylesheet" href="/styles/resource_page/resource-page.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <!--nav bar section-->
    <header id="navbar-main">
      <div class="navbar-container">
        <div class="logo">
          <a href="#home" class="link-tag-main-logo">
            <img src="/images/notion_space/group_page/zeotion.png" class="main_logo" alt="">
          </a>
        </div>
        <disv class="left-half">

          <!-- <a href="<%=our_domain%>notionspace/create/space">
            <div class="Notion-space">
              Notion Space          
            </div>
          </a> -->
          <div class="user-profile-option" id="profile-option">
            <div class="profile_pic">
              <img src="/images/logos/<%=`${letter}`%>.png" alt="" class="main_profile_image">
            </div>
          </div>
        </disv>
      </div>
    </header>

    <div class="pro_option_display dis_profile" id="js_display-pro">
      <!-- <div class="profile-detail-button pro_common">
          <a href="" class="rev-bg">
          <h4 class="rev-bg">My Profile</h4>
        </a>
        </div> -->
        <div class="logout-button pro_common">
          <a href="/log_out" class="rev-bg ">
        <h4 class="rev-bg">Log out</h4>
      </a>
      </div>
    </div>
    
    <!-- main section -->
    <section id="blurs">
      <div class="main-container">
        <div class="adding-blur rev-bg"></div>
        <div class="option-bar rombus-bg">
          <div class="option-heading-container">
            <h3 class="option-heading">topics</h3>
          </div>
          <div class="item-main-conatainer">
            <% for(let i=0;i<topics.length;i++){%>
              <a href="<%=`${our_domain}${dept}/${sem}/${sub}/student/${topics[i].topic}/${res_ty}`%>">
            <h3 class="option-items" id = "<%=`${topics[i].topic}`%>"><i class="ri-group-3-line" ></i><%= topics[i].topic %></h3>
          </a>
            <% } %>
        </div>  
        </div>
        <!-- main content page -->

        <div class="content-bar rombus-bg">


          <div class="sub-info-padding rev-bg">
          <div class="subject-name-main-container">
              <div class="path-content-container rev-bg">
                <p class="rev-bg"><a href="<%=`${our_domain}${dept}/${sem}`%>" ><%=dept%>/semester <%=sem%></a>/<a href="<%=`${our_domain}${dept}/${sem}/${sub}/student`%>" ><%=sub%>/student</a><b class="rev-bg">/<%=topic%>/<%=res_ty%></b></p>
              </div>
              <div class="subject-name-container rev-bg">
                <p class="rev-bg"><span id="testing-animation"></span></p>
              </div>
              <div class="unit-name-container rev-bg">
                <h4 class="rev-bg">Resource:</h4>
                <div class="subject-unit-name rev-bg">
                  <p class="rev-bg">NUMBER OF VIDEO : <%=count[2]%></p>
                  <p class="rev-bg">NUMBER OF DOCUMENT : <%=count[0]%></p>
                  <p class="rev-bg">NUMBER OF LINK : <%=count[1]%></p>
                </div>
              </div>  
          </div>
          
        </div>
        <div class="connectors-holder rev-bg">
          <div class="cover-container">
          </div>
        </div>
      </div>

        <!-- the topic card section -->
        <div class="topic-section-container">
          <div class="adding-blur rev-bg"></div>
          <div class="topic-title">
            <h1>Resource</h1>
            <%if (locals.res_ty && res_ty == "document"){%>
            <div class="add-topic" id="open">
              Add new Document
              <img src="/images/notion_space/group_page/plus.png" class="plus-logo1" alt="">
            </div>
            <%}
            if (locals.res_ty && res_ty == "video"){
            %>
            <div class="add-topic" id="open">
              Add new Video
              <img src="/images/notion_space/group_page/plus.png" class="plus-logo1" alt="">
            </div>
            <%}
            if(locals.res_ty && res_ty == "link"){%>
              <div class="add-topic" id="open">
              Add new Link
              <img src="/images/notion_space/group_page/plus.png" class="plus-logo1" alt="">
            </div>
            <%}%>

          </div>
          <div class="divider"></div>
          <div class="topics-card-container ">

            <!-- pic-filter-containe -->
            <div class="topic-filter-container rombus-bg">
              <div class="left-bar-sem-title">
                <i class="ri-database-2-fill"></i>
                <p class="sem-heading rev-bg">Resource</p>
              </div>
              <div class="sem-main-container">
                <a href="<%=`${our_domain}${dept}/${sem}/${sub}/student/${topic}/video`%>">
                <div class="video com-style" id="video">
                  <h3>Video</h3>
                </div>
              </a>
              <a href="<%=`${our_domain}${dept}/${sem}/${sub}/student/${topic}/document`%>">
                <div class="document com-style" id = "document">
                  <h3>Document</h3>
                </div>
              </a>
              <a href="<%=`${our_domain}${dept}/${sem}/${sub}/student/${topic}/link`%>">
                <div class="link com-style" id = "link">
                  <h3>Link</h3>
                </div>
              </a>
              </div>
           </div>
            <!-- all - topic - section -->
              <div class="topic-container ">
                    
                        
                        <% if(res_ty == "document"){
                          if(locals.resourse){
                            for(let i = 0;i<resourse.length;i++){
                          %>

                          <div class="document-hold-container">
                      <div class="topic-name-lable">
                        <p><%=topic%></p>
                       
                      </div>
                      <div class="main-container-of-document">
                        <div class="doc-title rev-bg">
                          <h3 class="rev-bg"><%=resourse[i].document_title%></h3>
                        </div>
                        <div class="doc-desc rev-bg">
                          <p class="rev-bg"><%=resourse[i].document_desc%></p>
                          
                        </div>
                        <a href="<%=`${our_domain}${dept}/${sem}/${sub}/student/${topic}/document/show_pdf?source=${resourse[i].name}`%>">
                        <div class="main-resource rev-bg">
                          <img src="<%=`/images/resource_page/${resourse[i].class}`%>" alt="" class="file-type rev-bg">
                          <p class="rev-bg"><%=resourse[i].name%></p>
                        </div>
                      </a>

                          </div>
                          </div>

                        <%}} }else if(res_ty == "link"){
                          if(locals.resourse){
                            for(let i = 0;i<resourse.length;i++){
                          %>


                          <div class="document-hold-container">
                      <div class="topic-name-lable">
                        <p><%=topic%></p>
                      </div>
                      <div class="main-container-of-document">
                        <div class="doc-title rev-bg">
                          <h3 class="rev-bg"><%=resourse[i].link_title%></h3>
                        </div>
                        <div class="doc-desc rev-bg">
                          <p class="rev-bg"><%=resourse[i].link_desc%></p>
                          
                        </div>
                        <a href="<%=`${resourse[i].link}`%>" class="tr_background" target="_blank">
                        <div class="link-button">
                          <p class="rev-bg"><i class="ri-link"></i>link</p>
                        </div>
                      </a>
                        </div>
                        </div>


                        <% }}}else{ if(res_ty == "video"){

                          if(locals.resourse){
                            for(let i = 0;i<resourse.length;i++){
                          %>


                          <div class="document-hold-container">
                      <div class="topic-name-lable">
                        <p><%=topic%> 
                          </p>
                          <a href="<%=`https://www.youtube.com/watch?v=${resourse[i].video}`%>" class="rev-bg" target="_blank" >
                        <div class="profile-detail-button pro_common">
                        <h4 class="rev-bg" >Open New Tab</h4>
                        </div>
                        </a>
                       
                        
                      </div>
                      <div class="main-container-of-document">
                        <div class="doc-title rev-bg">
                          <h3 class="rev-bg"><%=resourse[i].video_title%></h3>
                        </div>
                        <div class="doc-desc rev-bg">
                          <p class="rev-bg"><%=resourse[i].video_desc%></p>
                          
                        </div>

                          <div class="video-section tr_background">
                            <div class="whole_continer">
                              <div class="video_continer">
                                  <!-- <div class="title"></div> -->
                                  <iframe src="https://www.youtube.com/embed/<%=`${resourse[i].video}`%>" frameborder="0" width="100%" height="350"></iframe>
                                  
                      
                              </div>
                          </div>
                          </div>
                          </div>
</div>


                          <% }}} }%>
                      </div>
                    
                   
              </div> 

        </div>
      </div>
    </section>
    <footer>
      <div class="adding-blur rev-bg"></div>
      <div class="contact_continer" id = "contact">
        <a href =""><i class="ri-instagram-fill" ></i></a>
        <a href=""><i class="ri-linkedin-box-fill"></i></a>
        <a href=""><i class="ri-mail-fill"></i></a>
        <a href=""><i class="ri-whatsapp-fill"></i></a>
      </div>
    </footer>


    <%if(res_ty === "video"){%>
    <div class="main" id="main">
        <div class="cover">

            <div class="sep">
                <div class="greetings">
                    <h2 class="bg welcome-title" >Add Video</h2>
                    <div class="box" id="close">
                        <i class="ri-close-line"></i>
                    </div>
                    
                  </div>

                  <div class="main_form_continer">
                     
                      <div class="form">
                          <form action="<%=`${our_domain}${dept}/${sem}/${sub}/student/${topic}/${res_ty}`%>" method="post" class="form_box">
                              <label for="topic" class="bg">
                                  Video name:
                              </label>
                              <input type="text" name="topic" class="text_enter bg" placeholder="Enter a Topic" id="topic" required>
                              <div class="count" id="count1">0/25</div>
                              <label for="description" class="bg">Description:</label>
                              <input type="text" class="text_enter bg" placeholder="Enter the Description" name="discription" id="des">
                              <div class="count" id="count2">0/75</div>
                              <label for="link_name" class="bg">Youtube Link:</label>
                              <input type="text" name="link_name" class="text_enter bg"  placeholder="Enter a Youtube Link"r equired>
                              <input type="submit" value="ADD" class="bg go_back">
                          </form>
                      </div>
                      
                      
                  </div>
            </div>
        </div>
    </div>
<%}else{if(res_ty === "link"){%>

  <div class="main" id="main">
        <div class="cover">

            <div class="sep">
                <div class="greetings">
                    <h2 class="bg welcome-title" >Add Link</h2>
                    
                    <div class="box" id="close">
                        <i class="ri-close-line"></i>
                    </div>
                    </div>

                  <div class="main_form_continer">
                     
                      <div class="form">
                          <form action="<%=`${our_domain}${dept}/${sem}/${sub}/student/${topic}/${res_ty}`%>" method="post" class="form_box">
                              <label for="link_name" class="bg">
                                  Link name:
                              </label>
                              <input type="text" name="link_name" class="text_enter bg" placeholder="Enter a Topic" id="topic" required>
                              <div class="count" id="count1">0/25</div>
                              <label for="description" class="bg">Description:</label>
                              <input type="text" class="text_enter bg" placeholder="Enter the Description" name="discription" id="des">
                              <div class="count" id="count2">0/75</div>
                              <label for="link" class="bg">Link:</label>
                              <input type="text" name="link" class="text_enter bg"  placeholder="Enter a Link" required>
                              <input type="submit" value="ADD" class="bg go_back">
                          </form>
                      </div>
                      
                      
                  </div>
            </div>
        </div>
    </div>
<%}else{if(res_ty === "document"){%>

  <div class="main" id="main">
        <div class="cover">

            <div class="sep">
                <div class="greetings">
                    <h2 class="bg welcome-title" >Add Document</h2>
                    
                    <div class="box" id="close">
                        <i class="ri-close-line"></i>
                    </div>
                    </div>

                  <div class="main_form_continer">
                     
                      <div class="form">
                          <form action="<%=`${our_domain}${dept}/${sem}/${sub}/student/${topic}/${res_ty}`%>" method="post" class="form_box" enctype="multipart/form-data">
                              <label for="topic" class="bg">
                                  Document name:
                              </label>
                              <input type="text" name="topic" class="text_enter bg" placeholder="Enter a Topic" id="topic" required>
                              <div class="count" id="count1">0/25</div>
                              <label for="description" class="bg">Description:</label>
                              <input type="text" class="text_enter bg" placeholder="Enter the Description" name="discription" id="des">
                              <div class="count" id="count2">0/75</div>
                              <label for="topic" class="bg">Upload File:</label>
                              <input type="file" name="file" class="text_enter bg"  placeholder="Enter a Link" required>
                              <input type="submit" value="ADD" class="bg go_back">
                          </form>
                      </div>
                      
                      
                  </div>
            </div>
        </div>
    </div>

<%}}}%>







    <script src="/js_files/resource_page/resource-page.js"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
      var typed = new Typed('#testing-animation', {
        strings: [`<%=topic%>`],
        typeSpeed: 60,
        startDelay: 300
      });
      document.getElementById("testing-animation").classList.add("rev-bg");
      document.querySelector(".typed-cursor").classList.add("rev-bg");

      let path = window.location.pathname
      path = path.split("/")
      console.log(path);

      let path_5 = path[5].split("%20")
      path_5 = path_5.join(" ")

      let path_6 = path[6]

      document.getElementById(path_5).classList.add("selected-grp")
      document.getElementById(path_6).classList.add("selected-grp")
      
    </script>
</body>
</html>